#diceDiv {
    margin: 20px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-right: 50px;
    margin-left: 10px;

    font-size: 30px;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resultDiv {
    margin-top: 20px;
    margin-left: 40px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#resultDiv li {
    width: 100px;
    padding: 5px;
    margin: 7px 30px;

    color: white;
    
    border-radius: 8px;

    display: inline-block;

    text-decoration: none;
}

#resultDiv span {
    color: red;
    font-size: 30px;
}