.row {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.col {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;

    box-sizing: border-box;
    border: 1px solid black;
}

#btDiv > article {
    margin-left: 9px;
    width: 200px;


    text-align: center;

    border: white;
}

#mix {
    margin-top: 20px;
    margin-left: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.col:hover {
    cursor: pointer;
    border: 2px solid blue;
    background-color: antiquewhite;
}


