* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

header,
main,
footer {
    width: 100%;
    padding: 10px;
    background-color: #E6EAFF;
}

div > span {
    margin: 20px;
    padding: 10px;

    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}

p > span {
    display: inline-block;
    font-weight: bold;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a:hover {
    background-color: orange;
}

a {
    display: inline-block;
    width: 100px;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;

    background-color: blue;
    color: white;
}

li {
    list-style: none;
}

article {
    padding: 20px;
}

article>p {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

section>div {
    display: flex;
    margin: 10px;
    align-items: center;
}

div>p {
    margin-left: 5px;
}

h2 {
    margin: 5px;
}

img {
    border-radius: 100px;
    margin: 10px;
    font-size: 20px;
}

footer {
    background-color: black;
}

footer ul {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer li {
    text-align: left;
    color: white;
}

@media (max-width:1024px) {

    header,
    main,
    footer {
        width: 80%;
        padding: 20px;

        background-color: #E6EAFF;
    }

    footer {
        background-color: black;
    }
}